<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/menu/menu.css}">
    <script th:src="@{/js/menu/menu.js}"></script>
</head>
<body>
    <div class="cross-icon">
        <div class="cross1">
            <div class="cross2"></div>
        </div>
    </div>
    <div class="menu-title"></div>
    <div class="content"></div>
</body>
</html>